<div id="carouselExampleDark" class="carousel slide">
  <div class="carousel-indicators">
      {% for img in slideshows %}        
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="{{forloop.counter0}}" class="{% if forloop.first %}active{%endif%}" aria-current="true" aria-label="Slide {{forloop.counter}}"></button>
      {% endfor %}
  </div>
  <div class="carousel-inner">
  {% for img in slideshows %}
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="media/{{img.imagem}}" alt="{{img.alternative}}" title="{{img.titulo}}" class="d-block w-100"  width="20%;" height="1000px;" >
      <div class="carousel-caption d-none d-md-block">
        <h5>{{img.titulo}}</h5>
        <p>{{img.descricao}}</p>
      </div>
    </div>
    {% empty %}
    <p>Não tem nenhuma imagem </p>
    {% endfor %}      
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>