{% extends 'base.html' %}
{% block 'head' %} {% endblock %}
{% block 'title' %}Biblioteca de Jogos - Index {% endblock %}
{% block 'body' %}


    
<main class="form-signin">
  <div class="login" style="display: flex; flex-wrap: wrap; justify-content: center;">
    <form name="formLogin" id="formLogin" class="formLogin" onsubmit="event.preventDefault();" style="width: 500px">    
      <a href="{% url 'home' %}"><img class="mb-4" src="../../static/img/10.png" alt=""  style="margin-left: 140px; width: 200px; height: 200px;"></a>
      <h1 class="h3 mb-3 fw-normal" style="margin-left: 210px;">Login</h1>
  
      <div class="form-floating">
        <input type="email" class="form-control" id="email" placeholder="name@example.com">
        <label for="usuarioEmail">Email</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="password1" placeholder="Password" >
        <label for="usuarioSenha">Senha</label>
      </div>
      <div class="checkbox mb-3">
      </div>
      <button class="bota w-100 btn btn-lg btn-primary" onclick="fazerLogin();"> Entrar</button>
    </form>
  </div>
  
    <p class="mt-5 mb-3 text-muted" style="display: flex; justify-content: center;">Caso seja novo por aqui tente se <a href="{% url 'registrar' %}"> Cadastrar</a></p>
  
  </main>

{% endblock %}