{% extends 'base.html' %}
{% block 'head' %} {% endblock %}
{% block 'title' %}Biblioteca de Jogos - Index {% endblock %}
{% block 'body' %}
      

         <div class="titulo" style="padding-left: 38%;">
            <h1>jogos recomendados pelo criador</h1>
            <p style="font-size: 25px;padding-left: 15px;">voce pode enviar jogos daqui para o seu catalogo</p>
         </div>
         <div id="RECOMENDADOS" class="secao" >
            <div class="container py-4">
               <div class="row g-4">
                  <!-- Lista de jogos -->
                  <div class="col-md-4 col-sm-6">
                     <div class="game-card">
                        <img src="../../static/img/ben10.jpg" alt="BEN 10: PROTECTOR DE EARTH">
                        <div class="game-title">BEN 10: PROTECTOR DE EARTH</div>
                     </div>
                  </div>
                  <div class="col-md-4 col-sm-6">
                     <div class="game-card">
                        <img src="../../static/img/castlevania.jpg" alt="CASTLEVANIA">
                        <div class="game-title">CASTLEVANIA</div>
                     </div>
                  </div>
                  <div class="col-md-4 col-sm-6">
                     <div class="game-card">
                        <img src="../../static/img/BO.jpg" alt="CALL OF DUTY BLACK OPS 6">
                        <div class="game-title">CALL OF DUTY: BLACK OPS 6</div>
                     </div>
                  </div>
                  <div class="col-md-4 col-sm-6">
                     <div class="game-card">
                        <img src="../../static/img/xeno.jpg" alt="DRAGON BALL XENOVERSE 2">
                        <div class="game-title">DRAGON BALL XENOVERSE 2</div>
                     </div>
                  </div>
                  <div class="col-md-4 col-sm-6">
                     <div class="game-card">
                        <img src="../../static/img/farcry3.png" alt="Far Cry 3">
                        <div class="game-title">FAR CRY 3</div>
                     </div>
                  </div>
                  <div class="col-md-4 col-sm-6">
                     <div class="game-card">
                        <img src="../../static/img/guitarhero.png" alt="Guitar Hero 3">
                        <div class="game-title">GUITAR HERO 3</div>
                     </div>
                  </div>
                  <div class="col-md-4 col-sm-6">
                     <div class="game-card">
                        <img src="../../static/img/spiderman.jpg" alt="SPIDER-MAN">
                        <div class="game-title">SPIDER-MAN</div>
                     </div>
                  </div>
                  <div class="col-md-4 col-sm-6">
                     <div class="game-card">
                        <img src="../../static/img/midnight.png" alt="Midnight Club 3">
                        <div class="game-title">MIDNIGHT CLUB 3</div>
                     </div>
                  </div>
                  <div class="col-md-4 col-sm-6">
                     <div class="game-card">
                        <img src="../../static/img/mk.png" alt="Mortal Kombat: Shaolin Monks">
                        <div class="game-title">MORTAL KOMBAT: SHAOLIN MONKS</div>
                     </div>
                  </div>
                  <div class="col-md-4 col-sm-6">
                     <div class="game-card">
                        <img src="../../static/img/watchdogs2.png" alt="Watch Dogs 2">
                        <div class="game-title">WATCH DOGS 2</div>
                     </div>
                  </div>
                  <div class="col-md-4 col-sm-6">
                     <div class="game-card">
                        <img src="../../static/img/gow3.webp" alt="God of War 3">
                        <div class="game-title">GOD OF WAR 3</div>
                     </div>
                  </div>
                  <div class="col-md-4 col-sm-6">
                     <div class="game-card">
                        <img src="../../static/img/gtasan.webp" alt="GTA San Andreas">
                        <div class="game-title">GTA SAN ANDREAS</div>
                     </div>
                  </div>
               </div>
            </div>
         </div>


         <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.min.js"></script>
         <script>
            document.querySelectorAll('.submenu-toggle').forEach(btn => {
              btn.addEventListener('click', () => {
                const submenu = btn.nextElementSibling;
                submenu.classList.toggle('show');
              });
            });
            window.onload = () => {
    const darkMode = localStorage.getItem("darkMode");
    if (darkMode === "enabled") {
      document.body.classList.add("dark-mode");
    }
  };

  function toggleDarkMode() {
    document.body.classList.toggle("dark-mode");
    const isDark = document.body.classList.contains("dark-mode");

    if (isDark) {
      localStorage.setItem("darkMode", "enabled");
    } else {
      localStorage.setItem("darkMode", "disabled");
    }
  }
          
            document.addEventListener("DOMContentLoaded", (event) => {
            console.log("DOM fully loaded and parsed");
            const jogos_ = JSON.parse(localStorage.getItem("jogos"));
            let jogos_recomendados = jogos_.filter(jogo => 
              jogo.recomendado.toLowerCase().includes("sim".toLowerCase())
            );
            console.log(jogos_recomendados);
            for (let i = 0; i < jogos_recomendados.length; i++) {
              adicionarJogosRecomendados(jogos_recomendados[i],i);        
            }
            
            });
            
            function adicionarJogosRecomendados(jogo, pos){
            console.log(jogo)
                  const divRecomendos = document.getElementById("RECOMENDADOS");
                  let divContainer = divRecomendos.getElementsByClassName('row')[0];
                  
                  // Criar um novo elemento para o conteudo do jogo
                  const sectionJogo = document.createElement("section");
                  
                  sectionJogo.setAttribute("id", `jogo-${pos}`);            
                  sectionJogo.classList.add("col", "jogo","col-md-4","col-sm-6");
            
                  // Adicionar conteúdo
                  // <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalEditarCampanha">Editar via Target</button>
            
            
                  sectionJogo.innerHTML = `
                            <div class="game-card">
                            <img src="${jogo.capa}" alt="${jogo.sobre}">
                            <div class="game-title">${jogo.nome}</div>
                          </div>
                  `
                // Adicionar o novo elemento ao container
                divContainer.appendChild(sectionJogo);      
            
            }
            
              
         </script>
{% endblock %}