{% extends 'base.html' %}
{% block 'head' %} {% endblock %}
{% block 'title' %}Biblioteca de Jogos - Index {% endblock %}
{% block 'body' %}
      
      <div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel" style="width: 237px;">
        <div class="offcanvas-header" style="background-color: #232539;">
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" style="color: white;
          background-color: white;"></button>
        </div>
        <div class="offcanvas-body" style="background-color: #232539;">
          <div>
            <aside class="menu-vertical" style="width: 187px;">
              <a href="index.html">
              <img src="../../static/img/10.png" alt="logotipo da biblioteca" class="logo"/>
              </a>
              <nav>
                  <ul>
                      <li><a href="index.html"><i class="bi bi-house"></i> INÍCIO</a></li>
                      <li><a href="criar-post.html"><i class="bi bi-folder-symlink"></i> CRIAR</a></li>
                      <li class="has-submenu">
                          <button class="submenu-toggle" id="sub"><i class="bi bi-folder2"></i> CATÁLOGO</button>
                          <ul class="submenu">
                            <li><a href="./criados.html" id="catal" ><i class="bi bi-search"></i> PESQUISAR</a></li>
                            <li><a href="./recomendados.html"><i class="bi bi-bank"></i> MINHA BIBLIOTECA</a></li>
                          </ul>
                      </li>
                      <li><a href="./sobre.html" ><i class="bi bi-info-circle"></i> SOBRE</a></li>
                  </ul>
                  <div class="jj mt-3">
                      <a href="./github.html"  aria-label="Ver GitHub dos desenvolvedores">
                      <i class="bi bi-github" style="color: white; font-size: 400%;"></i>
                      </a>
                      <br />
                      <button onclick="toggleDarkMode()" aria-label="Alternar modo escuro" style="background: none; border: none;">
                      <i class="bi bi-brightness-low" style="color: white; font-size: 410%;"></i>
                      </button>
                  </div>
              
              </nav>
          </aside>
          </div>
        </div>
      </div>
      </div>

       <div class="menu-desktop">
            <aside class="menu-vertical" style="width: 220px;">
              <a href="index.html">
              <img src="../../static/img/10.png" alt="logotipo da biblioteca" class="logo"/>
              </a>
              <nav>
                  <ul>
                      <li><a href="index/"><i class="bi bi-house"></i> INÍCIO</a></li>
                      <li><a href="criar_post/"><i class="bi bi-folder-symlink"></i> CRIAR</a></li>
                      <li class="has-submenu">
                          <button class="submenu-toggle" id="sub"><i class="bi bi-folder2"></i> CATÁLOGO</button>
                          <ul class="submenu">
                               <li><a href="criados/" id="catal" ><i class="bi bi-search"></i> PESQUISAR</a></li>
                               <li><a href="recomendados/"><i class="bi bi-bank"></i> MINHA BIBLIOTECA</a></li>
                          </ul>
                      </li>
                      <li><a href="sobre/" ><i class="bi bi-info-circle"></i> SOBRE</a></li>
                  </ul>
                  <div class="jj mt-3">
                      <a href="github/"  aria-label="Ver GitHub dos desenvolvedores">
                      <i class="bi bi-github" style="color: white; font-size: 400%;"></i>
                      </a>
                      <br />
                      <button onclick="toggleDarkMode()" aria-label="Alternar modo escuro" style="background: none; border: none;">
                      <i class="bi bi-brightness-low" style="color: white; font-size: 410%;"></i>
                      </button>
                  </div>
                 </nav>
          </aside>
         </div>
  </div>
      
         <div class="titulo" style="padding-left: 38%;">
            <h1>jogos recomendados pelo criador</h1>
            <p style="font-size: 25px;padding-left: 15px;">voce pode enviar jogos daqui para o seu catalogo</p>
         </div>
         <div id="RECOMENDADOS" class="secao" >
            <div class="container py-4">
               <div class="row g-4">
                  <!-- Lista de jogos -->
                  <div class="col-md-4 col-sm-6">
                     <div class="game-card">
                        <img src="../../static/img/ben10.jpg" alt="BEN 10: PROTECTOR DE EARTH">
                        <div class="game-title">BEN 10: PROTECTOR DE EARTH</div>
                     </div>
                  </div>
                  <div class="col-md-4 col-sm-6">
                     <div class="game-card">
                        <img src="../../static/img/castlevania.jpg" alt="CASTLEVANIA">
                        <div class="game-title">CASTLEVANIA</div>
                     </div>
                  </div>
                  <div class="col-md-4 col-sm-6">
                     <div class="game-card">
                        <img src="../../static/img/BO.jpg" alt="CALL OF DUTY BLACK OPS 6">
                        <div class="game-title">CALL OF DUTY: BLACK OPS 6</div>
                     </div>
                  </div>
                  <div class="col-md-4 col-sm-6">
                     <div class="game-card">
                        <img src="../../static/img/xeno.jpg" alt="DRAGON BALL XENOVERSE 2">
                        <div class="game-title">DRAGON BALL XENOVERSE 2</div>
                     </div>
                  </div>
                  <div class="col-md-4 col-sm-6">
                     <div class="game-card">
                        <img src="../../static/img/farcry3.png" alt="Far Cry 3">
                        <div class="game-title">FAR CRY 3</div>
                     </div>
                  </div>
                  <div class="col-md-4 col-sm-6">
                     <div class="game-card">
                        <img src="../../static/img/guitarhero.png" alt="Guitar Hero 3">
                        <div class="game-title">GUITAR HERO 3</div>
                     </div>
                  </div>
                  <div class="col-md-4 col-sm-6">
                     <div class="game-card">
                        <img src="../../static/img/spiderman.jpg" alt="SPIDER-MAN">
                        <div class="game-title">SPIDER-MAN</div>
                     </div>
                  </div>
                  <div class="col-md-4 col-sm-6">
                     <div class="game-card">
                        <img src="../../static/img/midnight.png" alt="Midnight Club 3">
                        <div class="game-title">MIDNIGHT CLUB 3</div>
                     </div>
                  </div>
                  <div class="col-md-4 col-sm-6">
                     <div class="game-card">
                        <img src="../../static/img/mk.png" alt="Mortal Kombat: Shaolin Monks">
                        <div class="game-title">MORTAL KOMBAT: SHAOLIN MONKS</div>
                     </div>
                  </div>
                  <div class="col-md-4 col-sm-6">
                     <div class="game-card">
                        <img src="../../static/img/watchdogs2.png" alt="Watch Dogs 2">
                        <div class="game-title">WATCH DOGS 2</div>
                     </div>
                  </div>
                  <div class="col-md-4 col-sm-6">
                     <div class="game-card">
                        <img src="../../static/img/gow3.webp" alt="God of War 3">
                        <div class="game-title">GOD OF WAR 3</div>
                     </div>
                  </div>
                  <div class="col-md-4 col-sm-6">
                     <div class="game-card">
                        <img src="../../static/img/gtasan.webp" alt="GTA San Andreas">
                        <div class="game-title">GTA SAN ANDREAS</div>
                     </div>
                  </div>
               </div>
            </div>
         </div>


         <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.min.js"></script>
         <script>
            document.querySelectorAll('.submenu-toggle').forEach(btn => {
              btn.addEventListener('click', () => {
                const submenu = btn.nextElementSibling;
                submenu.classList.toggle('show');
              });
            });
            window.onload = () => {
    const darkMode = localStorage.getItem("darkMode");
    if (darkMode === "enabled") {
      document.body.classList.add("dark-mode");
    }
  };

  function toggleDarkMode() {
    document.body.classList.toggle("dark-mode");
    const isDark = document.body.classList.contains("dark-mode");

    if (isDark) {
      localStorage.setItem("darkMode", "enabled");
    } else {
      localStorage.setItem("darkMode", "disabled");
    }
  }
          
            document.addEventListener("DOMContentLoaded", (event) => {
            console.log("DOM fully loaded and parsed");
            const jogos_ = JSON.parse(localStorage.getItem("jogos"));
            let jogos_recomendados = jogos_.filter(jogo => 
              jogo.recomendado.toLowerCase().includes("sim".toLowerCase())
            );
            console.log(jogos_recomendados);
            for (let i = 0; i < jogos_recomendados.length; i++) {
              adicionarJogosRecomendados(jogos_recomendados[i],i);        
            }
            
            });
            
            function adicionarJogosRecomendados(jogo, pos){
            console.log(jogo)
                  const divRecomendos = document.getElementById("RECOMENDADOS");
                  let divContainer = divRecomendos.getElementsByClassName('row')[0];
                  
                  // Criar um novo elemento para o conteudo do jogo
                  const sectionJogo = document.createElement("section");
                  
                  sectionJogo.setAttribute("id", `jogo-${pos}`);            
                  sectionJogo.classList.add("col", "jogo","col-md-4","col-sm-6");
            
                  // Adicionar conteúdo
                  // <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalEditarCampanha">Editar via Target</button>
            
            
                  sectionJogo.innerHTML = `
                            <div class="game-card">
                            <img src="${jogo.capa}" alt="${jogo.sobre}">
                            <div class="game-title">${jogo.nome}</div>
                          </div>
                  `
                // Adicionar o novo elemento ao container
                divContainer.appendChild(sectionJogo);      
            
            }
            
              
         </script>
{% endblock %}