{% extends 'base.html' %}
{% block 'head' %} {% endblock %}
{% block 'title' %}Biblioteca de Jogos - Index {% endblock %}
{% block 'body' %}

<main class="geral">
    <br>
    <div id="SOBRE" class="sobre">
       <h2 style="display: flex;font-size: 40px ;justify-content: center;padding-bottom: 15px">Sobre o projeto</h2>
       <span style="display: flex;justify-content: center;">
          <p class="sob" > A nossa biblioteca de jogos é um espaço dedicado ao acesso, empréstimo e uso de uma ampla variedade de jogos, que podem incluir jogos de tabuleiro, cartas, quebra-cabeças, RPGs, jogos digitais e educativos. Seu principal objetivo é promover a interação social, o aprendizado, o entretenimento e o desenvolvimento cognitivo por meio do jogo.
             O ambiente é organizado, acolhedor e acessível, contando com áreas para jogos em grupo, sessões individuais e atividades mediadas por monitores ou educadores. Os títulos disponíveis abrangem diferentes faixas etárias, níveis de complexidade e interesses, garantindo opções tanto para iniciantes quanto para jogadores experientes.
             Além do acervo, a biblioteca de jogos frequentemente realiza eventos como campeonatos, oficinas de criação de jogos, encontros de RPG e sessões temáticas, estimulando a criatividade, a cooperação e o pensamento estratégico.
             Aberta à comunidade, escolas e instituições, a biblioteca de jogos é um ponto de encontro onde diversão e aprendizado caminham juntos.
          </p>
       </span>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.min.js"></script>
         <script>
            function avisoPostCriado(tituloPost){
              let toastLiveExample = document.getElementById('liveToast');
              let toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample);
              document.getElementById("tituloPost").innerText = tituloPost;
              toastBootstrap.show();
            }
         </script>
         <script>
            document.querySelectorAll('.submenu-toggle').forEach(btn => {
              btn.addEventListener('click', () => {
                const submenu = btn.nextElementSibling;
                submenu.classList.toggle('show');
              });
            });
          
  window.onload = () => {
    const darkMode = localStorage.getItem("darkMode");
    if (darkMode === "enabled") {
      document.body.classList.add("dark-mode");
    }
  };

  function toggleDarkMode() {
    document.body.classList.toggle("dark-mode");
    const isDark = document.body.classList.contains("dark-mode");

    if (isDark) {
      localStorage.setItem("darkMode", "enabled");
    } else {
      localStorage.setItem("darkMode", "disabled");
    }
  }
</script>
{% endblock %}